.profile__profession{
    margin: 0;
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
    color: #FFFFFF;
    align-self: start;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width:450px){
    .profile__profession{
        align-self: center;
        font-size: 14px;
        line-height: 17px;
    }   
}