.profile__add-button{
      display: inline-block;
    margin: 0;
    margin-top: 75px;
    text-decoration: none;
    background: #000000;
    cursor: pointer;
    background-image: url(../../../images/add-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 22px;
    width: 22px;
    padding: 14px 64px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    transition: opacity .5s ease-in-out;
}

.profile__add-button:hover{
    opacity: .6;
}
@media screen and (max-width:800px){
    .profile__add-button{
        height: 16px;
        width: 16px;
        padding: 17px 134px;
        margin-top: 36px;
        margin-bottom: 36px;
        align-self: center;
        
    }
}