.profile__picture{
    border-radius: 100%;
    width: 122px;
    height: 122px;
    padding: 0;
    margin-right: 32px;
    margin-top: -17px;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row-span: 2;
    grid-row: span 2;
    -ms-grid-column-align: start;
        justify-self: start;
}
@media screen and (max-width:800px){
    .profile__picture{
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
}