.profile__info{
    margin-top: 36px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 64px);
    grid-row-gap: 16px;
    grid-column-gap: 0;
}

@media screen and (max-width:800px){
    .profile__info{
        display: flex;
        flex-direction: column;
    }
}